<div class="container">
	<div class="row">
	<div class="col-sm-3 dashboard-navigation">
		<h4>Dashboard Navigation</h4>
		<ul class="nav nav-pills nav-stacked">
			<li><a ui-sref="dashboard.one">One</a></li>
			<li><a ui-sref="dashboard.two">Two</a></li>
			<li><a ui-sref="dashboard.three">Three</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div class="dashboard-view-container">
			<div class="dashboard-ui-view" ui-view></div>
		</div>
	</div>
	</div>

</div>